.financingContainer {
    background-color: #551BB3;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.titleFinancing h1 {
    z-index: 10000;
    color: #fff;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 80px;
    margin-top: 80px;
    ;
}

.slideContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slideContainer::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.slide {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@media (max-width: 1200px) {
    .financingContainer {
        margin-top: -180px;
        height: 100vh;
    }

    .titleFinancing h1 {
        margin-bottom: 90px;
        padding-left: 2px;
        padding-right: 2px;
    }

    .slideContainer {
        overflow: auto;
        justify-content: unset;
    }

    .slide {
        padding: 10px;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
    }

}


/* PURPLE DIVIDER */

.divider {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: -188px;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.divider .shapeFill {
    fill: #551BB3;
}

.dividerOpacity {
    position: absolute;
    left: 0px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    top: -200px;
}

.dividerOpacity svg {
    position: relative;
    display: block;
    width: calc(149% + 1.3px);
    height: 200px;
    transform: rotateY(180deg);
}

.dividerOpacity .fillOpacity {
    fill: #551bb365;
}

/* WHITE DIVIDER */


.dividerWhite {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.dividerWhite svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 141px;
}

.dividerWhite .shapeFillWhite {
    fill: #FFFFFF;
}

/* white opacity */
.dividerWhiteOpacity {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.dividerWhiteOpacity svg {
    position: relative;
    display: block;
    width: calc(102% + 1.3px);
    height: 170px;
}

.dividerWhiteOpacity .shapeFillWhiteOpacity {
    fill: #ffffff5e;
}